{
  "app": {
    "secret": "c2VjcmV0"
  },
  "database": {
    "type": "driver",
    "host": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "password",
    "database": "database",
    "entities": [
      "lib/*/entities/*.js"
    ],
    "synchronize": true,
    "logging": false
  }
}
